pandas
xarray 
geopandas 
numpy 
dask
catboost
contextily
shap
dask[distributed]
earthengine-api
h3
shapely
python-dotenv
scikit-learn
rioxarray
folium
ipyleaflet
tqdm
xarray_leaflet
papermill
pandas-geojson
pandarallel
me-gee